<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">

        <!-- Import the JavaScript Files -->
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- SemanticUI -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
    </head>

    <body>
        <section class="ui container">
            {{{body}}}
        </section>
    </body>
</html>