<h1>{{title}}</h1>

<img src="../resources/cat_pic.jpg" alt="A small image.">

<p>
    This page is used to display some basic
    information for the example page to show
    that the basic webapp is working.
</p>

<br>

<p>{{instance_id}}</p>
<p>{{instance_type}}</p>
<p>{{public_ip}}</p>